# Function in common data type

#### Reading data

In [1]:
# input()
# can combine with .split(), ...v.v or anywhere in program if want input data

In [2]:
s = int(input())

3

In [3]:
s

3

In [4]:
st = input().split() # become list

test list 123 45

In [32]:
st

['test', 'list', '123', '45']

### List

In [34]:
l = [1]

In [39]:
# push_back into list
# push_back(val)
l.append(4) 
l

[1, 4, 1, 3, 4, 1, 3, 4, 1, 3, 4, 4]

In [38]:
# push_back a list in to another list 
# extend(list)
ex = [1,3,4]
l.extend(ex)
l

[1, 4, 1, 3, 4, 1, 3, 4, 1, 3, 4]

In [40]:
# insert val in index i 
# insert(i, val)
l.insert(2, 100)
l

[1, 4, 100, 1, 3, 4, 1, 3, 4, 1, 3, 4, 4]

In [42]:
# remove first appear val form list
# remove(val)
l.remove(4)
l

[1, 100, 1, 3, 1, 3, 4, 1, 3, 4, 4]

In [43]:
# pop back element of list
# pop()
l.pop()
l

[1, 100, 1, 3, 1, 3, 4, 1, 3, 4]

In [45]:
# Return first index of val
# index(val)
l.index(100)

1

In [46]:
# number of occurrences of val
# count(val)
l.count(1)

4

In [73]:
## Return a new list containing all items from the iterable in ascending order.
#  sorted(iterable, key=None, reverse=False)
# key: A Function to execute to decide the order. Default is None
# reverse: A Boolean. False will sort ascending, True will sort descending. Default is False
l = sorted(l)
l

[1, 1, 1, 1, 3, 3, 3, 4, 4, 100]

In [74]:
l[1::2] # [start:stop:step]

[1, 1, 3, 4, 100]

#### String

In [6]:
# .isalnum() -> return True if str has ['a', 'z'] and [0, 9]
# .isalpha() -> return True if str has ['a', 'z'] or ['A', 'Z']
# .isdigit() -> return true if str has [0, 9]
# .islower() -> return True if str only has ['a', 'z'] 
# .isupper() -> return True if str only has ['a', 'z']

#### Set

In [ ]:
# Each element in set can aprear once time

In [15]:
# add element into set, if it appear, do nothing !!!
s = {1,2,3}

In [14]:
s.add(1)
s

{1, 2, 3}

In [17]:
# wanna push a large of element into the set, use .update(iter)
s.update((5,10))
s

{1, 2, 3, 5, 10}

In [21]:
s.update(range(5,10))
s

{1, 2, 3, 5, 6, 7, 8, 9, 10}

In [22]:
b = {2,4,6,8,10,12,14,16}

In [23]:
# create c containing a relationship between s and b

In [25]:
s.union(b) #-> val which exist in s or b

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 12, 14, 16}

In [27]:
s.intersection(b) # -> val which exist in s or b

{2, 6, 8, 10}

In [29]:
s.difference(b) # -> val which in s not in b

{1, 3, 5, 7, 9}

In [31]:
b.difference(s) # or you can do

{4, 12, 14, 16}

## More helpful function

In [65]:
# .join() ->the elements of sequence have been joined by str separator.
# str.join(sequence) 
print('-'.join(str(l)))

[-1-,- -1-,- -1-,- -1-,- -3-,- -3-,- -3-,- -4-,- -4-,- -1-0-0-]

In [64]:
s = ' not '.join('this is example')
s

't not h not i not s not   not i not s not   not e not x not a not m not p not l not e'

In [71]:
# Return True if bool(x) is True for any x in the iterable.
# any(iter)
any(i.isdigit() for i in s)

False

In [75]:
# wanna a string BECOME source
# Evaluate the given source in the context of globals and locals.
# eval(source)
eval("s.count('not')")

14